:root {
    --accent-col:     #880e4f;
    --accent-light:   #e91e63;
    --accent-lighter: #fce4ec;

    --contrast: #03a9f4;

    --back-main:  #455a64;
    --back-card:  #fff;
    --back-panel: #263238f0;

    --text-col: #263238;
    --text-inv: #fff;

    --shadow:       0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    --shadow-small: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);


    --good: #33691e;
    --bad:  #b71c1c;
}


/*** DEBUG *******************************************************/

/* main, header, nav, div, ul, ol, li, h1, h2, h3 {
    outline: 1px solid red;
} */


/*** GENERAL *******************************************************/

html,
body {
    font-family: system-ui, sans-serif;
    font-size:   14px;
    background:  var(--back-main);
    color:       var(--text-inv);

    background-image:    url('../images/manga-bw.jpg');
    /* background-image:    url('../images/manga-grey.jpg'); */
    /* background-image: url('../images/megaphone.webp'); */
    /* background-image:    url('../images/shout.jpg'); */

    background-position:   center;
    background-attachment: fixed;
    background-size:       cover;
}

a {
    text-decoration: none;
    color:           var(--text-col);
}

h2 {
    font-size:     2.2rem;
    margin-bottom: 2rem;
    color:         var(--accent-col);
}

p {
    margin-bottom: 1rem;
}

a {
    color:           var(--accent-col);
    text-decoration: underline;
}

a:hover {
    color: var(--contrast);
}


/*** HEADER *******************************************************/

#main-header {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    flex-wrap:       wrap;
    gap:             1rem;

    position: sticky;
    top:      0;
    z-index:  99;

    padding:    1rem;
    background: var(--accent-col);
    color:      var(--text-col);
    box-shadow: var(--shadow);
}

#main-header h1,
#main-header h1 a {
    font-size:       min(1.8rem, 5vw);
    color:           var(--text-inv);
    text-decoration: none;
}

#main-header h1 {
    flex: 1;
}

#main-header h1 a {
    display:     flex;
    gap:         1rem;
    align-items: center;
}

#user-info {
    color:     var(--text-inv);
    font-size: 1.3rem;
    flex:      1;
}



/*** NAV *******************************************************/

#main-nav img {
    width:  2rem;
    height: 2rem;
}

#main-nav input {
    display: none;
}

#main-nav ul {
    position:       fixed;
    right:          0;
    top:            0;
    bottom:         0;
    min-width:      10rem;
    padding:        1rem;
    background:     var(--back-panel);
    box-shadow:     var(--shadow);
    display:        flex;
    flex-direction: column;
    gap:            1rem;
    z-index:        999;
}

#main-nav a {
    color:           var(--text-inv);
    font-size:       1.5rem;
    text-decoration: none;
}

#main-nav a:hover {
    text-decoration: underline;
}

#main-nav input:not(:checked)~ul {
    display: none;
}



/*** MAIN *******************************************************/

main {
    padding: 1.5rem 1rem;

    max-width:    60rem;
    margin-left:  auto;
    margin-right: auto;

    min-height:      calc(100vh - 7rem);
    display:         flex;
    flex-direction:  column;
    gap:             2rem;
    align-items:     center;
    justify-content: center;
}

main p {
    text-align: center;
}



/*** CARDS *******************************************************/

.card {
    background:    var(--back-card);
    color:         var(--text-col);
    padding:       1rem;
    border-radius: 0.5rem;
    box-shadow:    var(--shadow);
}

.card h2 {
    font-size:     1.8rem;
    margin-bottom: 2rem;
    color:         var(--accent-col);
}

.card h3 {
    font-size:     1.5rem;
    margin-bottom: 1rem;
}

.card label {
    display:        block;
    font-size:      1.1rem;
    font-style:     italic;
    color:          var(--accent-light);
    margin-bottom:  0.3rem;
    padding-bottom: 0.2rem;
}

.card label:not(:first-of-type) {
    margin-top: 1.5rem;
}



/*** POSTS *******************************************************/

#post-list {
    width:     100%;
    max-width: 40rem;
    margin:    0 auto;
}


.post {
    position:      relative;
    margin-bottom: 1.5rem;
    padding:       1rem;
}


.post .info {
    display:         flex;
    column-gap:      1.5rem;
    row-gap:         0.2rem;
    justify-content: space-between;
    flex-wrap:       wrap;
    color:           var(--accent-light);
    margin-bottom:   0.75rem;
    padding-bottom:  0.1rem;
    border-bottom:   1px solid var(--accent-light);
}

.post h3 {
    margin-bottom: 0.75rem;
}


.post .replies {
    font-size:        0.9em;
    margin-top:       0.75rem;
    padding-top:      0.1rem;
    border-top:       1px solid var(--accent-light);
    padding-left:     2rem;
    list-style-image: url('../images/reply.svg');
}

.post .reply {
    margin-top:    0.75rem;
    padding:       0.5rem;
    background:    var(--accent-lighter);
    border-radius: 0.4rem;
}


.post .reply .info {
    position:      relative;
    top:           -0.75rem;
    margin-bottom: 0;
}


/*** POST LIST *******************************************************/

#post-list.summary {
    width:     100%;
    max-width: 60rem;
    margin:    0 auto;
}

#post-list.summary .post {
    margin-bottom:    0.5rem;
    /* border-radius: 0; */
    display:          flex;
    gap:              2rem;
    align-items:      flex-start;
}

#post-list.summary .post h3 {
    flex:      1;
    min-width: 40%;
}

#post-list.summary .post .info {
    /* flex-direction: column; */
    border-bottom: none;
    margin-bottom: 0;
}

#post-list.summary a {
    text-decoration: none;
}



/*** FORMS *******************************************************/

form {
    margin:    0 auto;
    width:     100%;
    max-width: 30rem
}

input,
textarea {
    display:       block;
    width:         100%;
    font-size:     1.2rem;
    padding:       0.3rem 0.5rem;
    background:    var(--accent-lighter);
    border:        1px solid var(--accent-light);
    border-radius: 0.4rem;
}

input[type=number],
input[type=date],
input[type=submit] {
    width: auto;
}

input[type=submit] {
    background: var(--accent-light);
    color:      var(--text-inv);
    margin:     2rem 0 0.5rem auto;
}

textarea {
    min-height: 8rem;
}



form.inline {
    max-width:   100%;
    margin:      1rem 0 0;
    display:     flex;
    align-items: flex-start;
    gap:         0.5rem;
}


form.inline input,
form.inline textarea {
    font-size: 1em;
}

form.inline textarea {
    min-height: 2rem;
}

form.inline input[type=submit] {
    margin:     0;
    align-self: flex-end;
}